* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(8px) grayscale(80%);
    filter: blur(8px) grayscale(80%);
    
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: 2px solid white;
    width: 300px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 5px white;;
    border-radius: 6px;
}

.login-container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100%;

}

.login-container .form button {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    background-color: white;
    border-radius: 6px;
}