:root {

	--color-bg-color: #37474f;
	--color-fg-color: #263238;
	
}

.navbar {
    width: 100vw;
    height: 50px;
    border: none;
    color: white;
}

.navbar .list-head {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-color);
    width: 100%;
    height: 50px;
    list-style: none;
}

.navbar .list-head > li {
    padding: 10px;
}

.navbar .list-head > li:first-child {
    margin-right: 40px;
}

.navbar .list-head > li:last-child {
    margin-left: auto;
}

.navbar .list-head .search button {
    margin-left: 8px;
} 

.navbar .list-head li:nth-child(2) {
    width: 50%;

}

.navbar .list-head .more {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 50px;
}

.navbar .list-head .more div,.navbar .list-head .search {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s; 
    cursor: pointer;
}

.navbar .list-head .more div:hover {
    /* background-color: var(--color-fg-color); */
    color: skyblue;
}

.navbar .list-head .search input {
    height: 35px;
    width: 250px;
}

.navbar .list-head .search button {
    width: 100px;
}